<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math for Tech Enthusiasts</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS -->

    <!-- Linking the script -->
    <script src="script.js"></script>

</head>
<body class="bg-gray-800">

    <!-- Nav bar -->
    <nav class="bg-gray-900 py-4">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex">
                    <div class="hidden md:block">
                        <div class="flex items-baseline space-x-4">
                            <a href="#" class="text-gray-100 hover:text-white px-3 py-2 rounded-md text-sm font-semibold border-2 border-purple-800">Learn</a>
                            <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Mission</a>
                            <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">FAQ</a>
                            <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Give Feedback</a>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-shrink-0">
                        <a href="#" class="text-purple-500 font-bold text-xl">#Shallondev</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <section class="flex justify-center">
        <div class="mt-16 mx-8">
            <h1 class="text-gray-200 font-bold md:text-3xl text-xl">Learn Practical Linear Algebra for Programmers</h1>
            <div class="flex lg:justify-center"> 
                <a href="#" 
                    class="mt-6 mr-6 bg-purple-800 hover:bg-purple-700 text-gray-200 hover:text-white font-bold text-lg py-3 px-8 shadow-lg transform transition-transform hover:scale-105 inline-block">
                    Get Started
                </a>
                <a href="#" 
                    class="mt-6 border border-purple-800 hover:bg-purple-700 hover:bg-purple-700 text-gray-200 hover:text-white font-bold text-lg py-3 px-8 shadow-lg transform transition-transform hover:scale-105 inline-block">
                    Study Tips
                </a>
            </div>  
        </div>
    </section>

    <!-- Cards -->
    <div class="container mx-auto mt-16 px-4 py-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-16">
            <!-- Matrix Operations -->
            <div class="course-card">
                <div 
                class="bg-gray-800 px-4 py-4 flex flex-col h-full border-2 hover:border-4 border-purple-800 hover:cursor-pointer hover:cursor-pointer
                transform transition-transform hover:scale-105">
                    <a href="#" class="block w-full max-w-xs mx-auto overflow-hidden">
                        <div class="relative">
                            <img src="../media/matrixop.png" alt="Project 1" class="w-full h-full object-cover bg-white">
                            <div class="absolute inset-0 bg-gray-900 opacity-85"></div>
                        </div>
                        <div class="flex justify-center">
                            <h2 class="text-3xl font-bold mb-2 text-gray-200 mt-4 card-text">Matrix Operations</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Vectors -->
            <div class="course-card">
                <div 
                class="bg-gray-800 px-4 py-4 flex flex-col h-full border-2 hover:border-4 border-purple-800 hover:cursor-pointer hover:cursor-pointer
                transform transition-transform hover:scale-105">
                    <a href="#" class="block w-full max-w-xs mx-auto overflow-hidden">
                        <div class="relative">
                            <img src="../media/vector.png" alt="Project 1" class="w-full h-full object-cover bg-white">
                            <div class="absolute inset-0 bg-gray-900 opacity-85"></div>
                        </div>
                        <div class="flex justify-center">
                            <h2 class="text-3xl font-bold mb-2 text-gray-200 mt-4 card-text">Vectors</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Linear Transformations -->
            <div class="course-card">
                <div 
                class="bg-gray-800 px-4 py-4 flex flex-col h-full border-2 hover:border-4 border-purple-800 hover:cursor-pointer hover:cursor-pointer
                transform transition-transform hover:scale-105">
                    <a href="#" class="block w-full max-w-xs mx-auto overflow-hidden">
                        <div class="relative">
                            <img src="../media/cube.png" alt="Project 1" class="w-full h-full object-cover bg-white">
                            <div class="absolute inset-0 bg-gray-900 opacity-85"></div>
                        </div>
                        <div class="flex justify-center">
                            <h2 class="text-3xl font-bold mb-2 text-gray-200 mt-4 card-text">Linear Maps</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</body>

<script>
    // Query course cards
    const courseCard = document.querySelectorAll(".course-card");

    // Change text styles based on what card is hovered
    courseCard.forEach(function(card) {
        card.addEventListener('mouseenter', () => {
            const cardText = card.querySelector(".card-text");
            cardText.classList.remove('text-gray-200');
            cardText.classList.add('text-purple-800');
        });
        card.addEventListener('mouseleave', () => {
            const cardText = card.querySelector(".card-text");
            cardText.classList.add('text-gray-200');
            cardText.classList.remove('text-purple-800');
        });
    });
</script>
</html>