<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math for Tech Enthusiasts</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS -->

    <!-- Linking the script -->
    <script src="script.js"></script>

</head>
<body class="bg-gray-800">

    <!-- Nav bar -->
    <nav class="bg-gray-900 py-4">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex">
                    <div class="hidden md:block">
                        <div class="flex items-baseline space-x-4">
                            <a href="#" class="text-gray-100 hover:text-white px-3 py-2 rounded-md text-sm font-semibold border-2 border-purple-800">Learn</a>
                            <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Mission</a>
                            <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">FAQ</a>
                            <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Give Feedback</a>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-shrink-0">
                        <a href="#" class="text-purple-500 font-bold text-xl">#Shallondev</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <section class="flex justify-center">
        <div class="mt-8 mx-8">
            <h1 class="text-gray-200 font-bold text-3xl">Learn Practical Linear Algebra for Programmers</h1>
            <div class="flex justify-center"> 
                <a href="#" 
                    class="mt-6 mr-6 bg-purple-800 hover:bg-purple-700 text-gray-200 hover:text-white font-bold text-lg py-3 px-8 shadow-lg transform transition-transform hover:scale-105 inline-block">
                    Get Started
                </a>
                <a href="#" 
                    class="mt-6 border border-purple-800 hover:bg-purple-700 hover:bg-purple-700 text-gray-200 hover:text-white font-bold text-lg py-3 px-8 shadow-lg transform transition-transform hover:scale-105 inline-block">
                    Study Tips
                </a>
            </div>  
        </div>
    </section>

    <!-- Cards -->
    <div class="container mx-auto px-4 py-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Matrix Operations -->
            <div id="matrix-card">
                <div 
                class="bg-gray-800 px-4 py-4 flex flex-col h-full border-2 hover:border-4 border-purple-800 hover:cursor-pointer hover:cursor-pointer
                transform transition-transform hover:scale-105">
                    <a href="#" class="block w-full max-w-xs mx-auto overflow-hidden">
                        <div class="relative">
                            <img src="../media/matrixop.png" alt="Project 1" class="w-full h-full object-cover bg-white">
                            <div class="absolute inset-0 bg-gray-900 opacity-85"></div>
                        </div>
                        <div class="flex justify-center">
                            <h2 class="text-3xl font-bold mb-2 text-white mt-4" id="matrix-op-text">Matrix Operations</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="project-card">
                <div class="bg-gray-800 px-4 py-4 flex flex-col border-2 border-purple-800">
                    <a href="#" class="block w-full max-w-xs mx-auto overflow-hidden hover:cursor-pointer transform transition-transform hover:scale-105 inline-block hover:cursor-pointer">
                        <div class="relative">
                            <img src="../media/matrixop.png" alt="Project 1" class="w-full h-full object-cover bg-white">
                            <div class="absolute inset-0 bg-gray-900 opacity-90"></div>
                        </div>
                        <div class="flex justify-center">
                            <h2 class="text-3xl font-bold mb-2 text-purple-500 mt-4">Matrix Operations</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Project 3 -->
            <div class="project-card">
                <div class="bg-gray-800 border border-gray-500 px-4 py-4 flex flex-col">
                    <a href="#" target="_blank">
                        <img src="#" alt="Project 3" class="rounded-t-lg w-full h-48 sm:h-64 object-cover transform transition-transform hover:scale-105 inline-block hover:cursor-pointer">
                    </a>
                    <div class="p-4">
                        <h2 class="text-lg font-bold mb-2 text-gray-100">Frog Stickers!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>

<script>
    const matrixCard = document.getElementById("matrix-card");
    const matrixText = document.getElementById("matrix-op-text");

    matrixCard.addEventListener('mouseenter', () => {
        matrixText.classList.add('text-purple-800');
        matrixText.classList.remove('text-white');
    });

    matrixCard.addEventListener('mouseleave', () => {
        matrixText.classList.remove('text-purple-800');
        matrixText.classList.add('text-white');
    });
</script>
</html>